# Variables de Entorno para la Impresion de Tickets

# Nombre del local que aparece en la cabecera de los tickets y cortes
PRINTER_LOCAL_NAME=----------

# RFC del local
PRINTER_RFC=------------

# Lineas de direccion del local
PRINTER_DIR1=----------
PRINTER_DIR2=----------
PRINTER_DIR3=----------
